@font-face {
    font-family: 'navbar';
    src: url('../font/navbar.ttf');
}

@font-face {
    font-family: 'font-01';
    src: url('../font/missfajardose.ttf');
}

@font-face {
    font-family: 'font-02';
    src: url('../font/crimsontext.ttf');
}

:root{
    --h1: 0;
    --h2: 200;
    --s1: 0%;
    --s2: 100%;
    --l1: 20%;
    --l2: 60%;
    --l3: 80%;
    --l4: 99%;
    --color-A: hsl(var(--h1), var(--s1), var(--l1));
    --color-B: hsl(var(--h2), var(--s2), var(--l3));
    --color-C: hsl(var(--h2), var(--s2), var(--l4));
    --color-D: hsl(var(--h2), var(--s2), var(--l2))
}
