.simply-countdown{
    overflow:hidden;
    display:table;
    font-family:'Arial',sans-serif;
    color: #ffffff;
    font-size: min(2vw, 2vh);
    margin: auto;
}

.simply-countdown>.simply-section{
    width: min(4vw, 4vh);
    height: min(4vw, 4vh);
    padding:min(4vw, 4vh);
    display:flex;
    float: left;
    align-items:center;
    justify-content:center;
    margin: min(2vw, 2vh);
    background:#000000;
    box-shadow:0 1px 3px rgba(250, 250, 250;,.12);
}
    
.simply-countdown>.simply-section .simply-amount,.simply-countdown>.simply-section .simply-word{
    display:block;
    text-align:center;
}

.c_text p{
    color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: min(1vw, 1vh);
    width: 60vw;
    max-width: 50vh;
    margin: auto;
    padding: min(0.3vw, 0.3vh);
}
