/*==================== PLAY BUTTON ====================*/
#play-pause {
    cursor: pointer;
    text-indent: -999999px;
    width: min(4.6vh, 4.6vw);
    height: min(4.6vh, 4.6vw);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position:center;
    background-size: min(2.5vw, 2.5vh);
    margin: auto;
    margin-left: min(1.5vw, 1.5vh);
    margin-right: min(1.5vw, 1.5vh);
    border-radius: 50%;
    border: min(0.5vw, 0.5vh) Solid;
}

.play {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}

.pause {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}

.play, .pause{
    background-color: var(--color-C);
}

/*==================== POPUP OPENING ====================*/
.popup{
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;       
    justify-content: center;
    align-items: center;
    z-index: 150;
    
}
        
.popup button{
    position: absolute;
    width: 50vw;
    max-width: 40vh;
    height: 6vh;
    font-size: 2vh;
    border-radius: 2vh;
    font-weight: bolder;
    border-style: none;
}

#text_popup{
    font-family: 'font-02', serif;
    color: var(--color-A);
    text-align: center;
    font-size: min(4vw, 4vh);
    !important;    
}
