*, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    text-align: center;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'font-02';    
}

main article{
    width: 100vw;
    min-height: 100vh;
    min-height: 100svh;
    background-color: var(--color-C);
    padding-top: min(5vw, 5vh);
}

main article:nth-child(1){
    padding-top: 0;
}

.title{
    font-family: 'font-03';
    font-size: min(6vw, 6vh);
}

/* ========== NAVBAR ========== */

nav{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    background-color: hsla(var(--h2), var(--s2), var(--l4),0.95);
    box-shadow: 0px min(-0.2vw, -0.2vh) min(2vw, 2vh) rgba(0,0,0,0.4);
    border-top-left-radius: min(2vw, 2vh);
    border-top-right-radius: min(2vw, 2vh);
    z-index: 100;
}

li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a{
    color: var(--color-A);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: min(0.5vw, 0.5vh);
}

.menu_icon{
    font-family: 'navbar';
    font-size: min(5vw, 5vh);
    margin-left: min(1.5vw, 1.5vh);
    margin-right: min(1.5vw, 1.5vh);
}

/* ========== HERO ========== */
.hero{
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

.background{
    display: flex;
    position: absolute;
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(25%);
    width: 100vw;
    height: 100vh;
}

.hero_name{
    font-family: 'font-01', fantasy;
    color: var(--color-B);
    text-align: center;
    padding: min(3vw, 3vh);    
    text-shadow: 0px -0.08vh 1vh var(--color-B);    
}

.hero_name p{
    font-size: min(12vw, 12vh);
}

.hero_name p:nth-child(2){
    font-size: min(8vw, 8vh);
}

.invite p{
    color: var(--color-C);
    font-size: min(3.5vw, 3.5vh);
}

.invite p:nth-child(2){
    font-style: italic;
    font-size: min(2.5vw, 2.5vh);
    margin-top: min(4vw, 4vh);
}

.ornament{
    width: 60vw;
    max-width: 50vh;
    height: 0.4vh;
    background-color: var(--color-C);
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* ========== ACARA ========== */

.c_text p{
    color: var(--color-A);
    font-size: min(2.5vw, 2.5vh);
    font-weight: bold;
    background-color: hsla(var(--h1), var(--s1), var(--l1), 0.1);
    width: 60vw;
    max-width: 50vh;
    margin: auto;
    padding: 0.3vh;
    border-radius: min(0.7vw, 0.7vh);
}
