
#home{
    margin: 0;
    padding-top: 0;
    min-height: 100vh;
    padding-bottom: 8vh;
}

.home-container{
    width: 100vw;
    height: 100vh;
}

.home-wrap{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.home-content{
    background-color: hsla(var(--h), var(--s_A), var(--l_A), 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: min(2vw, 2vh);
    padding: min(8vw, 8vh) 0;
}
  
.home-background{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(hsla(var(--h), var(--s_A), var(--l_A), 0.3) 60%, hsla(var(--h), var(--s_B), var(--l_C), 1)), var(--background-1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
}

.home-content-1{
    margin: min(3vw, 3vh);
    color: var(--color-B);
    text-shadow: 0px -0.08vh 1vh var(--color-D);
}

.home-content-2{
    color: var(--color-C);
    text-shadow: 0px -0.08vh 1vh var(--color-D);
}

.line{
    width: clamp(7rem, min(56vw, 56vh), 21rem);
    height: clamp(0.071rem, min(0.57vw, 0.57vh), 0.21rem);
    background-color: var(--color-C);
    box-shadow: 0px -0.08vh 1vh var(--color-D);
    margin: min(3vw, 3vh);
}