.icon-acara{
    font-family: icon;
    font-size: min(6vw, 6vh);
    color: var(--color-A);
    text-align: center;
  }

  .item-acara{
    display: flex;
    justify-content: center;
    align-items: center;
  }