/* Mengatur tampilan form RSVP */
#guestbook-form {
  width: 80vw;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f6f6;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: clamp(0.5rem, min(4vw, 4vh), 1.5rem)
}
  
#nama, #kehadiran, #pesan {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
}

.gbtn{
  width: 30%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  font-size: 16px;
  transition: background-color 0.2s, color 0.2s;
}

#kehadiran {
  background-color: #f6f6f6;
}

/* Mengatur warna status Hadir, Belum Pasti, dan Tidak Hadir */
.status-hijau {
  background-color: #4CAF50;
  color: white;
}

.status-biru {
  background-color: #0074D9;
  color: white;
}

.status-merah {
  background-color: #FF4136;
  color: var(--color-E);
}

/* Mengatur tampilan daftar ucapan */
#komentar-list {
  width: 80vw;
  max-width: 800px;
  margin: 20px auto;
  background-color:  var(--color-E);
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10vh;
}

/* CSS untuk tampilan postingan */
.post {
  background:  var(--color-E);
  border: 1px solid #ccc;
  padding: min(0.5vw, 0.5vh);
  margin: min(2vw, 2vh);
  border-radius: min(2vw, 2vh);
  text-align: left;
}

.post-container{
  display: flex;
}

.post-wrap{
  padding: min(1vw, 1vh);
}

.post-item{
  display: flex;
  align-items: center;
}

.post p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(0.4rem, min(3vw, 3vh), 1.3rem);
  margin-top: min(2vw, 2vh);
  margin-bottom: min(2vw, 2vh);
  margin-left: min(0.5vw, 0.5vh);
}

.Hadir {
  color: blue;
  background-color: rgb(238, 238, 238);
}

.Belum {
  color: green;
  background-color: rgb(238, 238, 238);
}

.Tidak {
  color: red;
  background-color: rgb(238, 238, 238);
}

minidenticon-svg svg {
  border-radius: 50%;
  background-color: #e9e9e9;
  width: min(10vw, 40px);
  align-items: center;
  justify-content: center;
  margin: min(1vw, 1vh);
  margin-top: min(2vw, 2vh);
}

.item{
  padding: min(0.5vw, 0.5vh);
  align-items: center;
}