/*==================== PLAY BUTTON ====================*/
#play-pause {
    cursor: pointer;
}

.play::after{
    font-family: icon;
    color:red;
    content:"8";
}

.pause::after{
    font-family: icon;
    content:"9";
}

/*==================== POPUP OPENING ====================*/
.popup{
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;        
    justify-content: center;
    align-items: center;
    z-index: 100;
    
}
        
.popup button{
    position: absolute;
    width: 50vw;
    max-width: 40vh;
    height: 6vh;
    font-size: 2vh;
    border-radius: 2vh;
    font-weight: bolder;
    border-style: none;
}
