*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body{
  background-color: var(--color-C);
}

article{
  /*min-height: 100vh;*/
  background-color: var(--color-C);
  color: var(--color-A);
  padding: min(8vw, 8vh) 0 min(8vw, 8vh);
}

#home{
  margin: 0;
  padding-top: 0;
  min-height: 100vh;
}

button{
  margin: auto;
}

button:after{
  content: '';
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:200;
  background-color: transparent;
}


/*========== NAVBAR ==========*/
ul{
  position: fixed;
  width: 100vw;
  bottom: 0;
  min-height: 20vh;
  z-index: 100;
  text-align: center;
}

li{
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin-bottom: min(1vw, 1vh);
  width: 100vw;
}

li a, li span{
  width: min(6vw, 6vh);
  color: var(--color-A);
  font-family: icon;
  text-align: center;
  text-decoration: none;
  font-size: min(5vw, 5vh);
  margin: min(1vw, 1vh);
}

li span{
  color: hsla(var(--h), var(--s_B), var(--l_E), 0.95);
  background-color: hsla(var(--h), var(--s_B), var(--l_C), 0.80);
  height: min(5vw, 5vh);
  width: min(5vw, 5vh);
  border-radius: 50%;
}

.top-gradient{
  position: fixed;
  width: 100vw;
  min-height: 15vh;
  z-index: 90;
  background-image: linear-gradient(hsla(var(--h), var(--s_B), var(--l_C), 0.8) -80%, rgba(0, 0, 0, 0));
  pointer-events: none;
}

.bottom-gradient{
  position: fixed;
  width: 100vw;
  bottom: 0;
  min-height: 20vh;
  z-index: 90;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, hsla(var(--h), var(--s_B), var(--l_C), 1));
  pointer-events: none;
}

/*========== HOME ==========*/
.hero{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.background{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsla(var(--h), var(--s_A), var(--l_A), 0.3) 60%, hsla(var(--h), var(--s_B), var(--l_C), 1)), var(--background-1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.home-wrap{
  height: 85vh;
}

.home-bottom-gradient{
  position: absolute;
  width: 100vw;
  bottom: 0;
  min-height: 20vh;
  z-index: 90;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 9%, hsla(var(--h), var(--s_B), var(--l_C), 1));
}

/*========== PROFIL ==========*/

.profil-container{
  width: min(100vw, 100vh);
  display: inline-grid;
  justify-content: center;
  text-align: center;
}

.profil-wrap{
  width: min(82vw, 82vh);
  background-color: var(--color-E);
  margin: min(3vw, 3vh);
  padding: min(3vw, 3vh);
  border-radius: min(2vw, 2vh);
  box-shadow: 0 min(0.5vw, 0.5vh) min(1vw, 1vh) hsla(var(--h), var(--s_A), var(--l_A), 0.4);
}

.bride-image{
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  background-image: var(--profil-bride);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border-radius: min(2vw, 2vh);
}

.groom-image{
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  background-image: var(--profil-groom);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border-radius: min(2vw, 2vh);
}

.quote{
  background-color: var(--color-E);
  border-radius: min(2vw, 2vh);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: min(3vw, 3vh);
  box-shadow: 0 min(0.5vw, 0.5vh) min(1vw, 1vh) hsla(var(--h), var(--s_A), var(--l_A), 0.4);
  width: min(82vw, 82vh);
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
}

.ornament-2{
  font-family: icon;
  font-size: min(35vw, 35vh);
  color: var(--color-A);
  text-align: center;
  margin-top: -10%;
  margin-bottom: -15%;
}

/*========== ACARA ==========*/
.acara-container{
  width: min(100vw, 100vh);
  display: inline-grid;
  justify-content: center;
  text-align: center;
}

.acara-wrap{
  width: min(82vw, 82vh);
  display: block;
  background-color: var(--color-E);
  margin: min(3vw, 3vh);
  padding: min(3vw, 3vh);
  border-radius: min(2vw, 2vh);
  box-shadow: 0 min(0.5vw, 0.5vh) min(1vw, 1vh) hsla(var(--h), var(--s_A), var(--l_A), 0.4);
}

.icon-acara{
  font-family: icon;
  font-size: min(6vw, 6vh);
  color: var(--color-A);
  text-align: center;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown{
  width: 100vw;
  text-align: center;
}

.kalender{
  display: block;
  text-decoration: none;
  color: var(--color-E);
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(2vw, 2vh);
  background-color: var(--color-A);
  padding: min(0.2vw, 0.2vh) min(1vw, 1vh);
  margin-top: min(3vw, 3vh);
  border-radius: min(1vw, 1vh);
  text-align: center;
  margin: auto;
}

.lokasi{
  display: block;
  text-decoration: none;
  color: var(--color-E);
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(2vw, 2vh);
  background-color: var(--color-A);
  padding: min(0.2vw, 0.2vh) min(1vw, 1vh);
  margin-top: min(1vw, 1vh);
  border-radius: min(1vw, 1vh);
}

/*========== CERITA ==========*/
.cerita{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  color: var(--color-C);
  min-height: 100vh;
}

.judul-cerita{
  color: var(--color-A);
}

.background-02{
  display: flex;
  position: absolute;
  background-image: linear-gradient(var(--color-C) 10%, rgba(0, 0, 0, 0) 70%, hsla(var(--h), var(--s_A), var(--l_B), 1)), var(--background-2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  filter: opacity(80%);
  width: 100%;
  min-height: 100%;
  z-index: -1;
}

/*========== GIFT ==========*/
.gift-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift-wrap{
  width: min(82vw, 82vh);
  height: min(18vw, 18vh);
  border-radius: min(2vw, 2vh);
  background-color: var(--color-E);
  box-shadow: 0 min(0.5vw, 0.5vh) min(1vw, 1vh) hsla(var(--h), var(--s_A), var(--l_A), 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: min(2vw, 2vh);
  padding: min(2vw, 2vh);
}

.gift-01{
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  background-image: var(--gift-01);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gift-02{
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  background-image: var(--gift-02);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gift-03{
  width: min(20vw, 20vh);
  height: min(20vw, 20vh);
  background-image: var(--gift-03);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.copytext{
  display: inline-block;
  width: 100%;
  height: auto;
  padding: min(0.5vw, 0.5vh);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(2.5vw, 2.5vh);
  font-weight: bold;
  margin: min(0.5vw, 0.5vh);
  border: none;
}

input:focus{
  border: none;
  outline: none;
}

.copybtn{
  display: inline-block;
  position: relative;
  margin: min(0.5vw, 0.5vh);
  padding: min(0.5vw, 0.5vh) min(2vw, 2vh);
  font-size: min(2vw, 2vh);
  font-family: 'font-3';
  font-weight: bold;
  border: none;
  border-radius: min(2vw, 2vh);
  background-color: var(--color-A);
  color: var(--color-C);
}

.gift-ucapan{
  /*background-color: hsla(var(--h), var(--s_B), var(--l_B), 0.8);*/
  background-color: hsla(var(--h), var(--s_A), var(--l_B), 0.8);
  height: 100%;
  margin: auto;
}

/*========== RESPONSIVE ==========*/
@media only screen and (orientation: landscape){
  /* NAVBAR */
  ul{
    display: flex;
    width: auto;
  }

  li{
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgba(0,0,0,0.0);
    box-shadow: 0 0 rgba(0,0,0,0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    grid-gap: 2vh;
    width: auto;
    height: 100vh;
  }

  li a{
    color: hsla(var(--h), var(--s_A), var(--l_A), 0.95);
  }

  li span{
    color: hsla(var(--h), var(--s_B), var(--l_E), 0.95);
    background-color: hsla(var(--h), var(--s_B), var(--l_C), 0.80);
    height: min(5vw, 5vh);
    width: min(5vw, 5vh);
    border-radius: 50%;
    margin: min(1.5vw, 1.5vh);
  }

  /* PROFIL */
  .ayat{
    width: min(94vw, 94vh);
  }

  .profil{
    display: grid;
    justify-content: center;
  }
  
  .profil-container{
    width: min(100vw, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
  }

  .ornament-2{
    font-size: min(50vw, 50vh);
    margin-top: -13%;
  }

  /*ACARA*/
  .acara{
    display: grid;
    justify-content: center;
  }

  .acara-container{
    width: min(100vw, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
  }

  /*GIFT*/
  .gift-container{
    flex-direction: row;
  }

  .gift-wrap{
    width: min(32vw, 32vh);
    height: min(32vw, 32vh);
  }
}