:root{
  --background-1: url(../../set/images/gallery/001.webp);
  --background-2: url(../../set/images/gallery/003.webp);

  --profil-groom: url(../../set/images/groom.webp);
  --profil-bride: url(../../set/images/bride.webp);
  --gift-01: url(../../set/images/01.svg);
  --gift-02: url(../../set/images/02.svg);
  --gift-03: url(../../set/images/03.svg);

/*========== COLOR ==========*/
  --h: 200;
  --s_A: 0%;
  --s_B: 100%;
  --l_A: 20%;
  --l_B: 80%;
  --l_C: 99%;
  --l_D: 60%;
  --l_E: 40%;
  --color-A: hsl(var(--h), var(--s_A), var(--l_A));
  --color-B: hsl(var(--h), var(--s_B), var(--l_B));
  --color-C: hsl(var(--h), var(--s_B), var(--l_C));
  --color-D: hsl(var(--h), var(--s_B), var(--l_D));
}

/*========== FONT ==========*/
@font-face{
  font-family: icon;
  src: url(../assets/font/icon.ttf);
}

@font-face{
  font-family: font-1;
  src: url(../assets/font/greatvibes.ttf);
}

@font-face{
  font-family: font-2;
  src: url(../assets/font/caveat.ttf);
}

@font-face{
  font-family: font-3;
  src: url(../assets/font/crimsontext.ttf);
}

h1{
  font-family: font-1;
  color: var(--color-B);
  font-size: min(9vw, 9vh);
  text-shadow: 0px -0.08vh 1vh var(--color-B);
  text-align: center;
}

.h1{
  font-size: min(7vw, 7vh);
  text-align: center;
}

h2{
  font-family: font-2;
  text-align: center;
  font-size: min(6vw, 6vh);
  margin: min(3vw, 3vh);
  font-weight: bold;
}

h3{
  font-family: font-2;
  text-align: center;
  font-size: min(4vw, 4vh);
  margin: min(1vw, 2vh);
  font-weight: bold;
}

h4{
  font-family: font-3;
  text-align: center;
  font-size: min(3vw, 3vh);
  margin: min(1vw, 1vh);
  font-weight: bold;
}

h5{
  font-family: font-3;
  font-size: min(2.5vw, 2.5vh);
  margin: min(0.5vw, 0.5vh);
  font-weight: bold;
}

p{
  font-family: font-3;
  font-size: min(2.5vw, 2.5vh);
  margin: min(0.5vw, 0.5vh);
}

.icon{
  font-family: icon;
  font-size: min(2.5vw, 2.5vh);
  margin: min(0.5vw, 0.5vh);
}