/*========== CERITA ==========*/
.cerita{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    color: var(--color-C);
    min-height: 100vh;
  }
  
  .judul-cerita{
    color: var(--color-A);
  }
  
  .background-02{
    display: flex;
    position: absolute;
    background-image: linear-gradient(var(--color-C) 10%, rgba(0, 0, 0, 0) 65%, hsla(var(--h), var(--s_A), var(--l_B), 1)), var(--background-3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    filter: opacity(80%);
    width: 100%;
    min-height: 100%;
    z-index: -1;
  }