/* The actual timeline (the vertical ruler) */
.timeline{
  position: relative;
  max-width: min(100vw, 150vh);
  margin: auto;
  padding-bottom: 5vh;
}

/* The actual timeline (the vertical ruler) */
.timeline::after{
  content: '';
  position: absolute;
  width: 5px;
  background-color: hsla(var(--h), var(--s_A), var(--l_A), 1);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  margin-bottom: 10vh;
}

/* Container around content */
.tl-left, .tl-right{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.tl-left::after, .tl-right::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: hsla(var(--h), var(--s_A), var(--l_A), 1);
  border: 4px solid var(--color-D);
  top: 15px;
  border-radius: 50%;
  z-index: 2;
}

/* Place the container to the left */
.tl-left{
  left: 0%;
}

/* Place the container to the right */
.tl-right{
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.tl-left::before{
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid hsla(var(--h), var(--s_A), var(--l_A), 1);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent hsla(var(--h), var(--s_A), var(--l_A), 1);
}

/* Add arrows to the right container (pointing left) */
.tl-right::before{
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid hsla(var(--h), var(--s_A), var(--l_A), 1);
  border-width: 10px 10px 10px 0;
  border-color: transparent hsla(var(--h), var(--s_A), var(--l_A), 1) transparent transparent;
}

/* Fix the circle for containers on the right side */
.tl-right::after{
  left: -16px;
}

/* The actual content */
.tl-left div, .tl-right div{
  padding: 20px 30px;
  background-color: hsla(var(--h), var(--s_A), var(--l_A), 1);
  color: var(--color-C);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens portrait */
@media only screen and (orientation: portrait){
  /* Place the timelime to the left */
  .timeline::after{
    left: 31px;
  }
  
  /* Full-width containers */
  .tl-right, .tl-left{
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .tl-left::before, .tl-right::before{
    left: 61px;
    border: medium solid hsla(var(--h), var(--s_A), var(--l_A), 1);
    border-width: 10px 10px 10px 0;
    border-color: transparent hsla(var(--h), var(--s_A), var(--l_A), 1) transparent transparent;
  }  
  
  /* Make sure all circles are at the same spot */
  .tl-left::after, .tl-right::after{
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .tl-right{
    left: 0%;
  }

  .tl-left{
    left: 0;
  }
}

@media only screen and (max-width: 321px){
  /* Place the timelime to the left */
  .timeline::after{
    left: 31px;
  }
    
  /* Full-width containers */
  .tl-right, .tl-left{
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
    
  /* Make sure that all arrows are pointing leftwards */
  .tl-left::before, .tl-right::before{
    left: 60px;
    border: medium solid hsla(var(--h), var(--s_A), var(--l_A), 1);
    border-width: 10px 10px 10px 0;
    border-color: transparent hsla(var(--h), var(--s_A), var(--l_A), 1) transparent transparent;
  }  
    
  /* Make sure all circles are at the same spot */
  .tl-left::after, .tl-right::after{
    left: 15px;
  }
    
  /* Make all right containers behave like the left ones */
  .tl-right{
    left: 0%;
  }
  
  .tl-left{
      left: 0;
  }
}