.top-gradient{
    position: fixed;
    width: 100vw;
    min-height: 15vh;
    z-index: 90;
    background-image: linear-gradient(hsla(var(--h), var(--s_B), var(--l_C), 0.8) -80%, rgba(0, 0, 0, 0));
    pointer-events: none;
  }
  
  .bottom-gradient{
    position: fixed;
    width: 100vw;
    bottom: 0;
    min-height: 20vh;
    z-index: 90;
    background-image: linear-gradient(rgba(0, 0, 0, 0) 10%, hsla(var(--h), var(--s_B), var(--l_C), 1));
    pointer-events: none;
  }